*{
    margin: 0;
}

.row{
    color: whitesmoke;
    margin-left: 20px;
    padding: 0;
    position: relative;
    margin-top: 1.4vh;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_poster{
    border-radius: 4px;
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 400ms;
}

.row_poster:hover{
    transform: scale(1.09);
}

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.09);
}

.row__title {
    color: #e6e6e6 ;
    font-size: 30px;
    font-weight: 500;
    padding-left: 3vw;
    margin-top: 10px;
}

.row__titleLarge{
    margin-top: 5px;
}

.row__posters {
    display: flex;
    justify-content: flex-start;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem 0 1rem 3vw;
}

.pagination {
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 2rem);
    width: 3vw;
    transition: opacity 0.2s;
    z-index: 10;
    cursor: pointer;
}

.pagination i {
    pointer-events: none;
    font-size: 1.3vw;
}

.pagination--left {
    left: 0;
    top: 1rem;
}

.pagination--right {
    right: 0;
    top: 1rem;
}

.row__posters:hover > .pagination {
    opacity: 1;
}

.row__poster {
    width: auto;
    height: 10vw;
    object-fit: contain;
    max-height: 15rem;
    min-height: 8rem;
    transition: transform 0.3s;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.row__poster:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.info__overlay {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: scroll;
}

.info__overlay--contentBox {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #111;
}

.info__overlay--videoBox {
    width: 100%;
    height: 60%;
    position: relative;
}

.info__overlay--youtube {
    width: 100%;
}

.info__overlay--iconBox {
    position: absolute;
    bottom: 4vw;
    left: 3rem;
    display: flex;
    align-items: center;
}

.info__overlay--iconBox > * {
    margin-right: 1rem;
    cursor: pointer;
}

.info__overlay--text {
    padding: 2rem 4rem 4rem;
}

.info__overlay--text h1 {
    /* font-size: 30px; */
    font-size: 5vh;
}

.info__overlay--text h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    font-style: italic;
}

.info__overlay--text p {
    line-height: 1.6;
    font-size: 3.5vh;
}

.info__overlay--btnClose {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    z-index: 50;
    cursor: pointer;
}

.icon-white {
    color: white;
}

.icon-black {
    color: #111;
}

.icon-black-opacity {
    color: rgba(32, 32, 32, 0.6);
}

.info__icon:hover > .icon-black-opacity {
    color: rgba(32, 32, 32, 1);
}

.error {
    color:rgb(225, 225, 225);
    position: fixed;
    padding: 1rem;
    top: 40%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border: 1px solid rgba(56, 56, 56, 0.2);
    border-radius: 5px;
    background-color: rgba(10, 10, 10, 0.96);
}

.error__heading {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.error__description {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 300;
}

.fade-in {
    animation: fadeIn ease 0.5s;
}

.fade-out {
    animation: fadeOut ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


@media (max-width: 900px) {
    .nav__list {
        display: none;
    }
    .nav__browse {
        display: flex;
    }

    .info__overlay--contentBox {
        width: 95%;
        top: 8rem;
        transform: translateX(-50%);
    }

    .info__overlay--youtube {
        height: 45vw;
    }

    .info__overlay--text {
        padding: 2vw 4vw 4vw;
    }

    .info__overlay--text h2 {
        margin-bottom: 3vw;
    }
}

@media (max-width: 775px) {
    .rows {
        top: -7rem;
    }

    .info__button {
        padding: 1rem 2rem;
    }

    .row__poster {
        height: 15vw;
    }

    .row__title {
        font-size: 1.8rem;
    }
}

@media (max-width: 450px) {
    .info__overlay--text p {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    .rows {
        top: -5rem;
    }
}
